.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}

.read-the-docs {
  color: #888;
}

.question {
  font-size: 1.5rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
